{% extends "base.html" %}
{% load i18n %} 


{% block content %}

<br><br><br><br>

<h1 class="text-capitalize text-center mx-10 bg-dark text-white">{% trans 'Registrieren Einen Neuen Untrnehmer' %}</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="name">{% trans 'Name' %}</label>
            <input name="name" required type="text" class="form-control" id="name"
                placeholder="customer first and last name">
        </div>

        <div class="form-group col-md-4">
            <label for="email">{% trans 'Email' %}</label>
            <input name="email" required type="email" class="form-control" id="email" placeholder="Unternehmer-E-Mail">
        </div>

        <div class="form-group col-md-3">
            <label for="phone">{% trans 'Phone' %}</label>
            <input name="phone" required type="number" class="form-control" id="phone"
                placeholder="Unternehmer-Telefon">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="sex">{% trans 'Sex' %}</label>
            <select name="sex" class="form-control" required id="sex">
                <option>{% trans 'Choose the gender' %} ..</option>
                <option value="M">{% trans 'Male' %}</option>
                <option value="F">{% trans 'Feminine' %}</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="age">{% trans 'Age' %}</label>
            <select name="age" class="form-control" required id="age">
                <option>{% trans 'Choose the age range' %} .. </option>
                <option value="19-25">19-25</option>
                <option value="26-35">26-35</option>
                <option value="36-45">36-45</option>        
                <option value="46-55">46-55</option>
                <option value="56+">56 +</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="addres">{% trans 'Address' %} </label>
            <input name="address" type="text" required type="text" class="form-control" id="address"
                placeholder="Unternehmeradresse">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city">{% trans 'City' %}</label>
            <input name="city" required type="text" class="form-control" id="city" 
                placeholder="Unternehmerstadt">
        </div>

        <div class="form-group col-md-6">
            <label for="zip">{% trans 'Zip code' %} </label>
            <input name="zip" required type="text" class="form-control" id="zip"
                placeholder="Plz des Unternehmers">
        </div>
    </div>
<div class="row">
    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>

    <a href='#' class="col-md-8">
        <span class="badge text-bg-secondary"></span>
     </a>

    <a href="{% url 'customers' %}" class="btn col-md-2 btn-danger">{% trans 'close' %}
     </a>
</div>

</form>

<br><br><br>

{% endblock content %}