{% extends "base.html" %}
{% load i18n %} 


{% block content %}


<h1 class="text-capitalize text-center mx-10 bg-dark text-white">{% trans 'Customer Details' %}</h1>

{% csrf_token %}

<div class="container">

    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <!-- Customer Update -->
                            <div class="col-7">
                                <!-- Informations -->
                                <div class="card card-body text-white bg-dark mb-2">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h5 class="mt-3 mb-2 text-white font-weight-bold">{% trans 'Informations' %}</h5>
                                        </div>
                                        <!-- Full name -->
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="name">{% trans 'Full name' %}</label>
                                                <input name="name" type="text" class="form-control" id="name"
                                                    placeholder="{% trans 'Entrepreneur first and last name' %}" value="{{customer.name}}">
                                            </div>
                                        </div>
                                        <!-- Sex -->
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="sex">{% trans 'Sex' %}</label>
                                                <select name="sex" class="form-control" id="sex" value="{{customer.sex}}">
                                                    <option value="M">{% trans 'M' %}</option>
                                                    <option value="F">{% trans 'F' %}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Age -->
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="age">{% trans 'Age' %}</label>
                                                <select name="age" class="form-control" id="age" value="{{customer.age}}">
                                                    <option value="18-25">18-25</option>
                                                    <option value="26-35">26-35</option>
                                                    <option value="36-45">36-45</option>
                                                    <option value="46+">46+</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Address -->
                                <div class="card card-body text-white bg-dark mb-2">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h5 class="mt-3 mb-2 text-white font-weight-bold">{% trans 'Address' %}</h5>
                                        </div>
                                        <!-- Street -->
                                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="address">{% trans 'Street' %}</label>
                                                <input name="address" type="text" class="form-control" id="address"
                                                    placeholder="{% trans 'Entrepreneur address' %}" value="{{customer.address}}">
                                            </div>
                                        </div>
                                        <!-- City -->
                                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="city">{% trans 'City' %}</label>
                                                <input name="city" type="text" class="form-control" id="city"
                                                    placeholder="{% trans 'Entrepreneur City' %}" value="{{customer.city}}">
                                            </div>
                                        </div>
                                        <!-- Zip code -->
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="zip_code">{% trans 'zip code' %}</label>
                                                <input name="zip_code" type="number" class="form-control" id="zip_code"
                                                    placeholder="{% trans 'Entrepreneur zip code' %}" value="{{customer.zip_code}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contact -->
                                <div class="card card-body text-white bg-dark mb-2">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h5 class="mt-3 mb-2 text-white font-weight-bold">{% trans 'Contact' %}</h5>
                                        </div>
                                        <!-- Email -->
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="email">{% trans 'Email' %}</label>
                                                <input name="email" type="email" class="form-control" id="email"
                                                    placeholder="{% trans 'Entrepreneur Email' %}" value="{{customer.email}}">
                                            </div>
                                        </div>
                                        <!-- Phone -->
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="form-group">
                                                <label for="phone">{% trans 'Phone' %}</label>
                                                <input name="phone" type="number" class="form-control" id="phone"
                                                    placeholder="{% trans 'Entrepreneur Phone' %}" value="{{customer.phone}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Customer Details -->
                            <div class="col-5">
                                <!-- Details -->
                                <div class="card card-body text-white bg-dark mb-2">
                                    <div class="card text-white bg-secondary mb-3">
                                        <div class="row justify-content-center">
                                            <div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card text-white bg-success mt-3 mb-4">
                                                    <h6 class="mt-3 mb-4 text-white text-center">{% trans 'SEX' %}: {{customer.sex}}</h6>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card text-white bg-success mt-3 mb-4">
                                                    <h6 class="mt-3 mb-4 text-white text-center">{% trans 'AGE' %}: {{customer.age}}</h6>
                                                </div>
                                            </div>
                                            <div >
                                                <div class="col-12 text-center">
                                                    <h5 class="mt-3 mb-3 text-white font-weight-bold">{{customer.name}}</h5>
                                                </div>
                                                <div class="col-12">
                                                    <h6 class="mt-3 mb-3 text-white font-weight-bold">{{customer.address}}</h6>
                                                </div>
                                                <div>
                                                    <p class="mt-3 mb-3 text-white font-weight-bold">{{customer.city}}</p>
                                                </div>
                                                <div>
                                                    <p class="mt-3 mb-3 text-white font-weight-bold">{{customer.zip_code}}</p>
                                                </div>
                                                <div>
                                                    <p class="mt-3 mb-3 text-white font-weight-bold">{{customer.email}}</p>
                                                </div>
                                                <div>
                                                    <p class="mt-3 mb-3 text-white font-weight-bold">{{customer.phone}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Related -->
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mt-1 mb-2 text-white font-weight-bold">{% trans 'Related' %}</h6>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                            <div class="card text-white bg-primary mb-2" style="max-width: 20rem;">
                                                <div class="card-body">
                                                <h6 class="card-title text-center">{% trans 'INVOICES' %}</h6>
                                                <h3 class="card-text text-center">{{total_invoices}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6" method="get">
                                            <div class="card text-white bg-success mb-2" style="max-width: 20rem;">
                                                <div class="card-body">
                                                <h6 class="card-title text-center">{% trans 'PAID INVOICES' %}</h6>
                                                <h3 class="card-text text-center">{{total_paid}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="row justify-content-center">
                                <div class="text-right">
                                    <a href="{% url 'home' %}" class="btn btn-secondary">{% trans 'close' %}</a>
                                    <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        
    <!-- Invoices List-->
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="card card-body">
                    <table class="table table-striped-columns">
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Date' %}</th>
                            <th>{% trans 'Total' %}</th>
                            <th>{% trans 'Paid' %}</th>
                            <th>{% trans 'Type' %}</th>
                            <th>{% trans 'Update' %}</th>
                            <th>{% trans 'Remove' %}</th>
                        </tr>

                        {% for invoice in invoices %}
                        <tr>
                            <th scope="row">{{ invoice.pk }}</th>
                            <td>{{invoice.invoice_date_time}}</td>
                            <td>{{invoice.total}}</td>
                            <td>{{invoice.paid}}</td>
                            <td>{{invoice.invoice_type}}</td>
                            <td><a href="" class="btn-sm btn-info">{% trans 'Update' %}</a></td>
                            <td>
                                <button id="btn-invoice-del" type="button" data-toggle="modal" data-target="#delete"
                                class="btn-sm btn-danger" title="Supprimer" data-id="{{ invoice.pk }}"
                                data-customer="#">{% trans 'Delete' %}
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <!-- Modal invoice suppression -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="sexampleModalLabel">{% trans 'Delete Invoice' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                    {% csrf_token %}
                    <input name="id_supprimer" type="hidden" id="id_supprimer">
                    <label id="label_id_s" class="text-dark checkbox-inline"> <strong id="strong_id_s">{% trans 'Are you sure you want to delete the invoice ?' %}</strong></label>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal-->
</div>
{% endblock content %}