{% extends "base.html" %}
{% load i18n %} 


{% block content %}


<h1 class="text-capitalize text-center mx-10 bg-dark text-white">{% trans 'Customer Details' %}</h1>

{% csrf_token %}

<div class="container">
    <!-- Customer Informmation-->
    <div class="card text-white bg-info mb-3">
        <div class="card-header text-center">
            <div class="row justify-content-around">
                <h4>{{customer.name}}</h4>
                <!-- sex/age-->
                <span class="badge badge-primary"><p>{{customer.sex}}</p></span>
                <span class="badge badge-dark"><p>{% trans 'Age:' %} {{customer.age}}</p></span>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-around">
                    <!-- Contact-->
                    <div class="col">
                        <h5 class="card-title">{% trans 'Contact Information' %}</h5>
                        <p>{% trans 'Email' %}: {{customer.email}}</p>
                        <p>{% trans 'Phone' %}: {{customer.phone}}</p>
                    </div>
                    <!-- Adress-->
                    <div class="col">
                        <h5 class="card-title">{% trans 'Adress' %}</h5>
                        <p>{{customer.address}}</p>
                        <p>{% trans 'City' %}: {{customer.city}}</p>
                        <p>{% trans 'Zip code' %}: {{customer.zip_code}}</p>
                    </div>                    
                    <!-- Counter-->
                    <div class="col text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <div class="badge badge-dark">
                                        <h5>{% trans 'Total invoices' %}</h5>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="badge badge-dark">
                                        <h5>{{total_invoices}}</h5>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="badge badge-dark">
                                        <h5>{% trans 'Paid invoices' %}</h5>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="badge badge-dark">
                                        <h5>{{total_paid}}</h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                        <div class="container">
                            <div class="row">
                                
                            </div>
                        </div>

                    </div>                    
                    <!-- Buttons-->
                    <div class="container">
                        <div class="row justify-content-around">
                            <button type="submit" class="btn col-md-3 btn-success">{% trans 'Update' %}</button>
                            <a href="{% url 'home' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
        
<!-- Invoices List-->
 <div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="card card-body">
                <table class="table table-striped-columns">
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Date' %}</th>
                        <th>{% trans 'Total' %}</th>
                        <th>{% trans 'Paid' %}</th>
                        <th>{% trans 'Type' %}</th>
                        <th>{% trans 'Update' %}</th>
                        <th>{% trans 'Remove' %}</th>
                    </tr>

                    {% for invoice in invoices %}
                    <tr>
                        <th scope="row">{{ invoice.pk }}</th>
                        <td>{{invoice.invoice_date_time}}</td>
                        <td>{{invoice.total}}</td>
                        <td>{{invoice.paid}}</td>
                        <td>{{invoice.invoice_type}}</td>
                        <td><a href="" class="btn-sm btn-info">{% trans 'Updtae' %}</a></td>
                        <td>
                            <button id="btn-invoice-del" type="button" data-toggle="modal" data-target="#delete"
                            class="btn-sm btn-danger" title="Supprimer" data-id="{{ invoice.pk }}"
                            data-customer="#">{% trans 'Delete' %}
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<!-- Modal invoice suppression -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark" id="sexampleModalLabel">{% trans 'Delete Invoice' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="post">
               {% csrf_token %}
               <input name="id_supprimer" type="hidden" id="id_supprimer">
               <label id="label_id_s" class="text-dark checkbox-inline"> <strong id="strong_id_s">{% trans 'Are you sure you want to delete the invoice ?' %}</strong></label>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                  <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- end modal-->

{% endblock content %}