{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<br><br>
<!-- counter -->
<div class="container">
   <div class="row justify-content-center">
      <div class="col-4">
         <div class="card text-white bg-primary mb-4" style="max-width: 20rem;">
            <div class="card-body">
               <h5 class="card-title text-center">{% trans 'INVOICES' %}</h5>
               <h1 class="card-text text-center">{{total_invoices}}</h1>
            </div>
         </div>
      </div>
      <div class="col-4">
         <div class="card text-white bg-secondary" style="max-width: 20rem;">
            <div class="card-body">
            <h5 class="card-title text-center">{% trans 'CUSTOMERS' %}</h5>
            <h1 class="card-text text-center">{{total_customers}}</h1>
            </div>
         </div>
      </div>
      <div class="col-4" method="get">
         <div class="card text-white bg-success mb-4" style="max-width: 20rem;">
            <div class="card-body">
            <h5 class="card-title text-center">{% trans 'PAID INVOICES' %}</h5>
            <h1 class="card-text text-center">{{total_paid}}</h1>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Regestering buttons -->
<div class="container">
   <div class="row justify-content-center">
      <!-- Regestering invoice -->
      <div class="col-4">
         <a href="{% url 'add-invoice' %}" class="btn btn-primary btn-lg btn-block">{% trans 'Register a new invoice' %}
         </a>
      </div>
      <!-- Regestering customer -->
      <div class="col-4">
         <a href="{% url 'add-customer' %}" class="btn btn-primary btn-lg btn-block">{% trans 'Register a new customer' %}
            <span class="badge text-bg-secondary"></span>
         </a>
      </div>
   </div>
</div>
<br> <br>

<!-- listes -->
<div class="row">
   <!-- invoices liste -->
   <div class="col-md-7">
      <div class="card card-body">
         <!-- Search Bar -->
         <div class="form-group ">
            <input id="search" class="form-control" type="text" placeholder="{% trans 'Search' %}....">
         </div>
         <!-- invoices table -->
         <table class="table table-sm">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">{% trans 'CUSTOMERS NAME' %}</th>
                  <th scope="col">{% trans 'DATE' %}</th>
                  <th scope="col">{% trans 'TOTAL' %}</th>
                  <th scope="col">{% trans 'PAID' %}</th>
                  <th scope="col">{% trans 'TYPE OF INVOICE' %}</th>
                  <th scope="col">{% trans 'ACTION' %}</th>
               </tr>
            </thead>
            <tbody id="myTable">
            {% if invoices %}
               {% for invoice in invoices %}
               <tr>
                  <th scope="row">{{ invoice.invoice_number }}</th>
                  <td>{{invoice.customer.name}}</td>
                  <td>{{invoice.invoice_date_time}}</td>
                  <td>{{ invoice.get_total }}</td>
                  <td>
                  {% if invoice.paid %}
                     <img src="{% static 'images/icon-yes.svg' %}" alt="True">
                  {% else %}
                     <img src="{% static 'images/icon-no.svg' %}" alt="False">
                  {% endif %}
                  </td>
                  <td>{{invoice.get_invoice_type_display}}</td>
                  <td>
                     <a href="{% url 'view-invoice' pk=invoice.pk %}" title="Detail"><button class="btn-sm btn-success">{% trans 'Details' %}</button></a>

                     <a href="{% url 'update-invoice' pk=invoice.pk %}" title="Update"><button class="btn-sm btn-info">{% trans 'Update' %}</button></a>

                     <button id="btn-invoice-mod" type="button" data-toggle="modal" title="Modifier" data-target="#modifier"
                     data-id="{{invoice.pk}}" data-customer="{{invoice.customer.name}}"
                     class="btn-sm btn-warning">{% trans 'Modify' %}
                     </button>

                     <button id="btn-invoice-sup" type="button" data-toggle="modal" data-target="#supprimer"
                        class="btn-sm btn-danger" title="Supprimer" data-id="{{ invoice.pk }}"
                        data-customer="#">{% trans 'Delete' %}
                     </button>
                  </td>
               </tr>
               {% endfor %}
                <!-- pagination -->
               {% if invoices.has_other_pages %}
               <div class="btn-group" role="group" aria-label="Item pagination">
                  {% if invoices.has_previous %}
                  <a href="?page={{ invoices.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
                  {% endif %}
                  {% for page_number in invoices.paginator.page_range %}
                     {% if invoices.number == page_number %}
                        <button class="btn btn-outline-primary active">
                           <span> {{page_number}} <span class="sr-only">(current)</span></span>
                        </button>
                     {% else %}
                        <a href="?page={{page_number}}" class="btn btn-outline-primary">
                           {{ page_number }}
                        </a>
                     {% endif %}
                  {% endfor %}
                  {% if invoices.has_next %}
                     <a href="?page={{ invoices.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
                  {% endif %}
                  </div>
               {% endif %}
            {% else %}
               <p class="text-center text-white">{% trans 'No invoice found.' %}</p>
            {% endif %}
            </tbody>
         </table>
      </div>
   </div>

   <!-- Customers liste -->
   <div class="col-md-5">
      <div class="card card-body">
         <!-- Search Bar -->
         <div class="form-group ">
            <input id="search_customer" class="form-control" type="text" placeholder="{% trans 'Search' %}....">
         </div>
         <!-- liste customers -->
         <table class="table table-sm">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">{% trans 'CUSTOMER NAME' %}</th>
                  <th scope="col">{% trans 'EMAIL' %}</th>
                  <th scope="col">{% trans 'ACTION' %}</th>
               </tr>
            </thead>
            <tbody id="customTable">
            {% if customers %}
               {% for customer in customers %}
               <tr>
                  <th scope="row">{{ customer.pk }}</th>
                  <td>{{customer.name}}</td>
                  <td>{{customer.email}}</td>
                  <td>
                     <a href="{% url 'customer' pk=customer.pk %}" title="Detail"><button class="btn-sm btn-info">{% trans 'Update' %}</button></a>

                     <button id="btn-customer-sup" type="button" data-toggle="modal" data-target="#customer_del"
                        class="btn-sm btn-danger" title="Supprimer" data-id="{{ customer.pk }}"
                        data-customer="{{customer.name}}">{% trans 'Delete' %}
                     </button>
                  </td>
               </tr>
               {% endfor %}

               {% if customers.has_other_pages %}
               <div class="btn-group" role="group" aria-label="Item pagination">

                  {% if customers.has_previous %}
                  <a href="?page={{ customers.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
                  {% endif %}

                  {% for page_number in customers.paginator.page_range %}
                     {% if customers.number == page_number %}
                        <button class="btn btn-outline-primary active">
                           <span> {{page_number}} <span class="sr-only">(current)</span></span>
                        </button>
                     {% else %}
                        <a href="?page={{page_number}}" class="btn btn-outline-primary">
                           {{ page_number }}
                        </a>
                     {% endif %}
                  {% endfor %}

                  {% if customers.has_next %}
                     <a href="?page={{ customers.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
                  {% endif %}
               </div>  
               {% endif %}

            {% else %}
               <p class="text-center text-white">{% trans 'No customer found.' %}</p>
            {% endif %}
            </tbody>
         </table>
      </div>
   </div>
</div>

<!-- Modal invoice modifier -->
<div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark text-center" id="exampleModalLabel">{% trans 'Modification' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form method="post">
            {% csrf_token %}
            <div class="modal-body">
               <input name="id_modified" type="hidden" id="id_modified">
               <label id="label_id" class="text-dark checkbox-inline"> <strong id="strong_id">{% trans 'This bill has been paid?' %}</strong></label>
               <input type="radio" id="html" name="modified" value="True">
               <label class="text-white bg-primary" for="html">{% trans 'Yes' %}</label>
               <input type="radio" id="css" name="modified" value="False">
               <label class="text-white bg-danger" for="css">{% trans 'No' %}</label><br>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
               <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
         </form>
      </div>
   </div>
</div>
<!-- end modal-->

<!-- Modal invoice suppression -->
<div class="modal fade" id="supprimer" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark" id="sexampleModalLabel">{% trans 'Delete Invoice' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="post">
               {% csrf_token %}
               <input name="id_supprimer" type="hidden" id="id_supprimer">
               <label id="label_id_s" class="text-dark checkbox-inline"> <strong id="strong_id_s">{% trans 'Are you sure you want to delete the invoice ?' %}</strong></label>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                  <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- end modal-->

<!-- Modal customer suppression -->
<div class="modal fade" id="customer_del" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark" id="sexampleModalLabel">{% trans 'Delete Customer' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form method="post">
               {% csrf_token %}
               <input name="id_customer_del" type="hidden" id="id_customer_del">
               <label id="label_id_s" class="text-dark checkbox-inline"> <strong id="strong_id_s">{% trans 'Are you sure you want to delete this customer ?' %}</strong></label>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                  <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- end modal-->

<br><br>

<script type="text/javascript">
   // modification of invoice
   $(document).on('click', '#btn-invoice-mod', function(){
      let invoice_id = $(this).data('id');
      let customer = $(this).data('customer');
      $('#id_modified').val(invoice_id);
   })
   // deleting of invoice
   $(document).on('click', '#btn-invoice-sup', function(){
      let invoice_id = $(this).data('id');
      $('#id_supprimer').val(invoice_id);
   })

   // deleting of customer
   $(document).on('click', '#btn-customer-sup', function(){
      let customer_id = $(this).data('id');
      $('#id_customer_del').val(customer_id);
   })

</script>

<script>
   // search of invoice
   $(document).ready(function(){
      $("#search").on("keyup", function(){
         var value = $(this).val().toLowerCase();
         $("#myTable tr").filter(function(){
            $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value)>-1)
         });
      });
   });

   // search of customer
   $(document).ready(function(){
      $("#search_customer").on("keyup", function(){
         var value = $(this).val().toLowerCase();
         $("#customTable tr").filter(function(){
            $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value)>-1)
         });
      });
   });
</script>

{% endblock %}